***Data loading***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~IRIS Data loading~~~~~~~~~~~~~~~~~~~~")
print("\n")
import pandas as pd
import matplotlib.pyplot as plt
a = pd.read_csv("/content/iris.csv")
print(a)

~~~~~~~~~~~~~~~~~~~~~~~~~IRIS Data loading~~~~~~~~~~~~~~~~~~~~


     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

***Data preprocessing***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data preprocessing~~~~~~~~~~~~~~~~~~~~")
print("\n")
a.isna().sum()

~~~~~~~~~~~~~~~~~~~~~~~~~Data preprocessing~~~~~~~~~~~~~~~~~~~~

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data preprocessing~~~~~~~~~~~~~~~~~~~~")
print("\n")
from sklearn.preprocessing import LabelEncoder
b = LabelEncoder()
a["species"] = b.fit_transform(a["species"])
print(a)

~~~~~~~~~~~~~~~~~~~~~~~~~Data preprocessing~~~~~~~~~~~~~~~~~~~~


     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

***Data splitting***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data splitting~~~~~~~~~~~~~~~~~~~~")
print("\n")

t = a.iloc[:,:-1]
y = a["species"]
print(t)
print(y)

~~~~~~~~~~~~~~~~~~~~~~~~~Data splitting~~~~~~~~~~~~~~~~~~~~


     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data splitting~~~~~~~~~~~~~~~~~~~~")
print("\n")
from sklearn.model_selection import train_test_split
t_train, t_test, y_train, y_test = train_test_split(t, y, test_size = 0.2)
print(t_train)
print(t_test)
print(y_train)
print(y_test)

~~~~~~~~~~~~~~~~~~~~~~~~~Data splitting~~~~~~~~~~~~~~~~~~~~


     sepal_length  sepal_width  petal_length  petal_width
82            5.8          2.7           3.9          1.2
93            5.0          2.3           3.3          1.0
2             4.7          3.2           1.3          0.2
72            6.3          2.5           4.9          1.5
104           6.5          3.0           5.8          2.2
..            ...          ...           ...          ...
97            6.2          2.9           4.3          1.3
79            5.7          2.6           3.5          1.0
60            5.0          2.0           3.5          1.0
110           6.5          3.2           5.1          2.0
107           7.3          2.9           6.3          1.8

[120 rows x 4 columns]
     sepal_length  sepal_width  petal_length  petal_width
34            4.9          3.1           1.5          0.1
11            4.8          3.4           1.6          0.2
71            6.1          2.8           4.0          1.3
5             5.4          3.9           1.7          0.4
105           7.6          3.0           6.6          2.1
131           7.9          3.8           6.4          2.0
76            6.8          2.8           4.8          1.4
32            5.2          4.1           1.5          0.1
33            5.5          4.2           1.4          0.2
8             4.4          2.9           1.4          0.2
133           6.3          2.8           5.1          1.5
132           6.4          2.8           5.6          2.2
114           5.8          2.8           5.1          2.4
124           6.7          3.3           5.7          2.1
49            5.0          3.3           1.4          0.2
115           6.4          3.2           5.3          2.3
26            5.0          3.4           1.6          0.4
134           6.1          2.6           5.6          1.4
21            5.1          3.7           1.5          0.4
78            6.0          2.9           4.5          1.5
90            5.5          2.6           4.4          1.2
126           6.2          2.8           4.8          1.8
109           7.2          3.6           6.1          2.5
9             4.9          3.1           1.5          0.1
70            5.9          3.2           4.8          1.8
99            5.7          2.8           4.1          1.3
38            4.4          3.0           1.3          0.2
43            5.0          3.5           1.6          0.6
101           5.8          2.7           5.1          1.9
91            6.1          3.0           4.6          1.4
82     1
93     1
2      0
72     1
104    2
      ..
97     1
79     1
60     1
110    2
107    2
Name: species, Length: 120, dtype: int64
34     0
11     0
71     1
5      0
105    2
131    2
76     1
32     0
33     0
8      0
133    2
132    2
114    2
124    2
49     0
115    2
26     0
134    2
21     0
78     1
90     1
126    2
109    2
9      0
70     1
99     1
38     0
43     0
101    2
91     1
Name: species, dtype: int64

***Data Classification***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data Classification~~~~~~~~~~~~~~~~~~~~")
print("\n")
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(t_train, y_train)
y_pred = model.predict(t_test)
print(y_pred)

~~~~~~~~~~~~~~~~~~~~~~~~~Data prediction~~~~~~~~~~~~~~~~~~~~


[0 0 1 0 2 2 1 0 0 0 1 2 2 2 0 2 0 2 0 1 1 2 2 0 2 1 0 0 2 1]

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

***Data prediction***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data prediction~~~~~~~~~~~~~~~~~~~~")
print("\n")
y_pred = model.predict(t_test)
print(y_pred)

~~~~~~~~~~~~~~~~~~~~~~~~~Data prediction~~~~~~~~~~~~~~~~~~~~


[0 0 1 0 2 2 1 0 0 0 1 2 2 2 0 2 0 2 0 1 1 2 2 0 2 1 0 0 2 1]

In [ ]:
sepal_length = float(input("Enter sepal length: "))
sepal_width = float(input("Enter sepal width: "))
petal_length = float(input("Enter petal length: "))
petal_width = float(input("Enter petal width: "))
y_pred = model.predict([[sepal_length, sepal_width, petal_length, petal_width]])
print(y_pred)

Enter sepal length: 5.1
Enter sepal width: 3.5
Enter petal length: 1.4
Enter petal width: 0.2
[0]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

***Data accuracy***

In [ ]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~Data accuracy score~~~~~~~~~~~~~~~~~~~~")
print("\n")
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

~~~~~~~~~~~~~~~~~~~~~~~~~Data accuracy score~~~~~~~~~~~~~~~~~~~~


0.9333333333333333